header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    width: 100vw;
    height: 5rem;
    background: var(--background-pink);
    
}

header .logo {
    width: 30%;
}

header .logo svg {
    width: 50%;
}

header svg  {
    fill: rgb(255, 255, 255);

}

header ul { 
    display: flex;
}

header ul li {
    list-style: none;
    
    margin-left: 1.5rem;

}

header ul li svg {
    fill: rgb(255, 255, 255);

    width: 1.4rem;
}

header ul li a {
    text-decoration: none;

    display: flex;
    flex-direction: row;
    
    

    font-size: 1rem;
    color: var(--gray-50);
}

header ul li a svg {
    margin-right: .5rem;
}


